@{
    ViewData["Title"] = "Restricted access";
    Layout = "_LoggedOffLayout";
}

<p>You have no permission to access this functionality, <a asp-controller="Home" asp-action="Index">Click here to go back.</a></p>